House name: <%= @selected_pad.name %><br />
Price: £<%= @selected_pad.price %><br />
Location: <%= @selected_pad.location %><br />
About: <%= @selected_pad.about %>

<form action='/confirmation' method='post'>
  Choose Date: <input type="date" name="booking_date"><br />
    <button type='submit' value='Confirm Request'>
        Confirm Request
    </button>
</form>

<% bookings = @selected_pad.bookings %>
<% bookings.all.each do |booking| %>
<%= booking.date %>
<% end %>


<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA9R3ulT60bFNuWCjvsrMHBm5l579Q9N_I
                  &q=<%= @selected_pad.location %>" allowfullscreen>
</iframe>
